{% extends "../base.html"%}

{% block title %} List Products {% endblock %}

{% block body %}

<h1>List of products</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div clas="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>cantitat</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% if productes|length != 0 %}
                {% for product in productes %}
                <tr>
                    <td>{{product.Producte.name}}</td>
                    <td>{{product.cantitat}}</td>
                    <td>{{product.Producte.price}}</td>
                    <td><a class="btn btn-primary" href="{% url 'stockEdit' product.id %}">Edit</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}