
{% extends "base.html" %}



{% block title %}
User management
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px">
    <h2>Edit profile</h2>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">
                Name:
                {% if not entity.user.first_name %}
                 Not specified
                {% endif %}</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{entity.user.first_name}}" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="last_name">
                Last names:
                {% if not entity.user.last_name %}
                 Not specified
                {% endif %}</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{entity.user.last_name}}" placeholder="Name">
        </div>
    {% if entity.user.tipo == entity.user.entityE %}
        <div class="form-group">
            <label for="DNI">
                DNI:
                {% if not entity.DNI %}
                 Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="DNI" name="DNI" value="{{entity.DNI}}" placeholder="79038471B">
        </div>
    {% else %}
        <div class="form-group">
            <label for="NIF">
                NIF:
                {% if not entity.NIF %}
                 Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="NIF" name="NIF" value="{{entity.NIF}}" placeholder="79038471B">
        </div>
    {% endif %}
        <div class="form-group">
            <label for="phone">
                Phone number:
                {% if not entity.user.phone %}
                 Not specified
                {% endif %}
                </label>
            <input type="number" class="form-control" id="phone" name="phone" value="{{entity.user.phone}}" placeholder="973567802">
        </div>
        <div class="form-group">
            <label for="email">
                E-mail:
                {% if not entity.user.email %}
                 Not specified
                {% endif %}
            </label>
            <input type="email" class="form-control" id="email" name="email" value="{{entity.user.email}}" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="CP">
                Postal code:
                {% if not entity.user.CP %}
                 Not specified
                {% endif %}
                </label>
            <input type="number" class="form-control" id="CP" name="CP" value="{{entity.user.CP}}" placeholder="C/Paraguay nº5, Lleida">
        </div>
        <div class="form-group">
            <label for="ciutat">
                City:
                {% if not entity.user.ciutat %}
                 Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="ciutat" name="ciutat" value="{{entity.user.ciutat}}" placeholder="C/Paraguay nº5, Lleida">
        </div>
        <div class="form-group">
            <label for="adreca">
                Adress:
                {% if not entity.user.adreca %}
                 Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="adreca" name="adreca" value="{{entity.user.adreca}}" placeholder="C/Paraguay nº5, Lleida">
        </div>
        <div class="form-group">
            <label for="alias">
                Username:
                {% if not entity.user.username %}
                Username: Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="alias" name="alias" value="{{entity.user.username}}" placeholder="Alias">
        </div>
        <div class="form-group">
            <label for="cardNumber">
                Card number:
                {% if not entity.cardNumber %}
                    Not specified
                {% endif %}
                </label>
            <input type="text" class="form-control" id="cardNumber" name="cardNumber" value="{{entity.cardNumber}}" placeholder="IBAN">
        </div>
        <p><a href="{% url 'password_reset' %}">Click here if you want to change the password</a></p>

        <div align="center">
            <button type="submit" class="btn btn-primary">Confirm changes</button>
        </div>

     </form>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384 JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
    
    

